@{
    ViewData["Title"] = "Home Page";
}

<div id="content" class="text-center">
    <h1 style="text-shadow: lightgreen 1px 1px;"  class="display-4">This is only a demo</h1>
    <img class="img-fluid" style="border-radius: 3rem; border:double solid 5px antiquewhite;box-shadow:10px 10px 5px grey;" src="~/coverpic.png"/>
   
</div>
<br />
